# Benchmark results
_benchmarks_results/

# Mac
.DS_Store

# IntelliJ
.idea/
.run/

# Tensorboard
runs/

# Model checkpoint
checkpoints/

# Data
data/

# Python
__pycache__/

# Ctags
tags

# Notes
notes
