# Carla python client artifacts
_benchmarks_results/
_out/

# Mac
.DS_Store

# IntelliJ
.idea/
.run/

# Tensorboard
runs/

# Model checkpoint
checkpoints/

# Data
data/

# Python
__pycache__/

# Ctags
tags

# Notes
notes
